<div class="container chat--container">
  <div class="open-chat fixed-action-btn" (click)="isChatOpen = !isChatOpen">
    <div class="icon">
      <i class="material-icons">send</i>
    </div>
  </div>
  <div class="messaging" *ngIf="isChatOpen">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <app-message-list [messages]="messages"></app-message-list>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" #input placeholder="Type a message"
              (keyup)="onKeyPress(input, $event)">
            <button class="msg_send_btn" type="button" (click)="sendMessage(input)"><i class="fa fa-paper-plane"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
