<app-header></app-header>
<div class="auth-block">
    <form
        class="card"
        [formGroup]="regForm"
        (ngSubmit)="onSubmit(regForm.value)">
        <div class="card-content">
            <span class="card-title">Registration</span>
            <div class="input-field">
                <input
                    formControlName="email"
                    id="email"
                    type="email">
                <label for="email">Email:</label>
                <span *ngIf="email.invalid && email.touched" class="helper-text red-text">Field is required</span>
            </div>
            <div class="input-field">
                <input
                    formControlName="password"
                    id="password"
                    type="password">
                <label for="password">Password:</label>
                <span *ngIf="pass.invalid && pass.touched" class="helper-text red-text">Field is required</span>
            </div>
        </div>
        <div class="card-action">
            <button
                type="submit"
                [disabled]="regForm.invalid || regForm.disabled"
                class="modal-action btn waves-effect">
                Sign up
            </button>
        </div>
    </form>
</div>
